<h1> Add a Client</h1>
<form  action="/client_added" method="post">
  <label for="client_name">Enter the name of the client</label>
  <input type="text" name="client_name" id="client_name_input">
  <button type="submit" class="btn" name="button">Add client!</button>
</form>
