<h1> Assign a client to <%= @stylist.name() %></h1>
<form  action="/stylists/<%= @stylist.id() %>/clients" method="post">
  <input type="hidden" name="stylist_id" value="<%= @stylist.id() %>">
  <label for="client_name">Enter the name of the client</label>
  <input type="text" name="client_name" id="client_name_input">
  <button type="submit" name="button">Add client!</button>
</form>
