<h1> Add a Stylists</h1>
<form  action="/stylist" method="post">
  <label for="stylist_name">Enter the name of the stylist</label>
  <input type="text" name="stylist_name" id="stylist_name_input">
  <button type="submit" name="button">Add stylist!</button>
</form>
    <a href="/"><button type="btn" name="home">home</button></a>
