<h1>Details for: <%= @client.name %></h1>
<h3>Current Stylist:</h3>
  <% if @client.stylist_id > 0 %>
    <% @stylist.clients.each() do |client| %>
    <% if client.name == @client.name %>
      <h2><%= @stylist.name() %>   </h2>
        <% end %>
      <% end %>
    <% else %>
    <h2>none</h2>
    <% end %>
    <br>
    <form action="/clients/<%= @client.id() %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <label for="name_change">Enter the correct name for the client.</label>
      <input type="text" name="name_change" id="name_change">
      <button type="submit" name="button" class="btn-info">update</button>
    </form>
    <form action="/<%= @client.id() %>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" name="button" class="btn-danger">delete</button>
    </form>



<a href="/"><button type="btn" name="home">home</button></a>
