<h1><%= @stylists.name() %></h1>
<div class="" id="client_display">
  <h3> Here are the current clients this stylist has: <h3>
    <% if @clients.any?() %>

    <ul>
      <% @clients.each() do |city| %>
      <li><a href="/clients/<%= city.id() %>"><%= client.name() %></a></li>
      <% end %>
    </ul>
    <% else %>
      <p>None.</p>
    <% end %>
  <br>
  <button><a href="/" class="btn">home</a></button>
</div>
